@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post" action="">
    Username: <input id="usernameTextBox" name="username" type="text" />
    <br />
    Password: <input id="passwordTextBox" name="password" type="password" />
    <br />
    <input id="loginButton" name="login" type="submit" value="Login" />
</form>