<head>
</head>
<body>
    <div id="head">  
    </div>
    <div id="chart">
    </div>
    

</body>
@section scripts{
    <script src="~/Scripts/jquery.piegraph.js"></script>
    <script src="~/Scripts/home.js"></script>
}