@{
    ViewBag.Title = "Index";
}
<div>
   <p>Welcome to homepage.</p>
</div>
    <div class="page-body">
    <div class="row">
        <div class="col-xs-12">
            <p>Index</p>
        </div>
    </div>
</div>